.contributor-page {
    text-align: center;
}

.contributor-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contributor-panel img {
    border-radius: 50%;
    max-width: 200px;
}

.contributor a {
    color: inherit;
    text-decoration: none;
}

.contributor-panel .contributor {
    margin: 1rem;
}

.contributor-details {
    text-transform: capitalize;
    text-align: center;
}
